<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_10</key>
	<string>_10.glif</string>
	<key>_100</key>
	<string>_100.glif</string>
	<key>_101</key>
	<string>_101.glif</string>
	<key>_102</key>
	<string>_102.glif</string>
	<key>_103</key>
	<string>_103.glif</string>
	<key>_104</key>
	<string>_104.glif</string>
	<key>_105</key>
	<string>_105.glif</string>
	<key>_106</key>
	<string>_106.glif</string>
	<key>_107</key>
	<string>_107.glif</string>
	<key>_108</key>
	<string>_108.glif</string>
	<key>_109</key>
	<string>_109.glif</string>
	<key>_11</key>
	<string>_11.glif</string>
	<key>_110</key>
	<string>_110.glif</string>
	<key>_111</key>
	<string>_111.glif</string>
	<key>_112</key>
	<string>_112.glif</string>
	<key>_113</key>
	<string>_113.glif</string>
	<key>_114</key>
	<string>_114.glif</string>
	<key>_115</key>
	<string>_115.glif</string>
	<key>_116</key>
	<string>_116.glif</string>
	<key>_117</key>
	<string>_117.glif</string>
	<key>_118</key>
	<string>_118.glif</string>
	<key>_119</key>
	<string>_119.glif</string>
	<key>_12</key>
	<string>_12.glif</string>
	<key>_120</key>
	<string>_120.glif</string>
	<key>_121</key>
	<string>_121.glif</string>
	<key>_122</key>
	<string>_122.glif</string>
	<key>_123</key>
	<string>_123.glif</string>
	<key>_124</key>
	<string>_124.glif</string>
	<key>_125</key>
	<string>_125.glif</string>
	<key>_126</key>
	<string>_126.glif</string>
	<key>_127</key>
	<string>_127.glif</string>
	<key>_128</key>
	<string>_128.glif</string>
	<key>_129</key>
	<string>_129.glif</string>
	<key>_13</key>
	<string>_13.glif</string>
	<key>_130</key>
	<string>_130.glif</string>
	<key>_131</key>
	<string>_131.glif</string>
	<key>_132</key>
	<string>_132.glif</string>
	<key>_133</key>
	<string>_133.glif</string>
	<key>_134</key>
	<string>_134.glif</string>
	<key>_20</key>
	<string>_20.glif</string>
	<key>_21</key>
	<string>_21.glif</string>
	<key>_22</key>
	<string>_22.glif</string>
	<key>_28</key>
	<string>_28.glif</string>
	<key>_29</key>
	<string>_29.glif</string>
	<key>_3</key>
	<string>_3.glif</string>
	<key>_30</key>
	<string>_30.glif</string>
	<key>_31</key>
	<string>_31.glif</string>
	<key>_32</key>
	<string>_32.glif</string>
	<key>_33</key>
	<string>_33.glif</string>
	<key>_34</key>
	<string>_34.glif</string>
	<key>_35</key>
	<string>_35.glif</string>
	<key>_36</key>
	<string>_36.glif</string>
	<key>_37</key>
	<string>_37.glif</string>
	<key>_38</key>
	<string>_38.glif</string>
	<key>_39</key>
	<string>_39.glif</string>
	<key>_40</key>
	<string>_40.glif</string>
	<key>_41</key>
	<string>_41.glif</string>
	<key>_42</key>
	<string>_42.glif</string>
	<key>_43</key>
	<string>_43.glif</string>
	<key>_44</key>
	<string>_44.glif</string>
	<key>_45</key>
	<string>_45.glif</string>
	<key>_46</key>
	<string>_46.glif</string>
	<key>_47</key>
	<string>_47.glif</string>
	<key>_48</key>
	<string>_48.glif</string>
	<key>_49</key>
	<string>_49.glif</string>
	<key>_5</key>
	<string>_5.glif</string>
	<key>_50</key>
	<string>_50.glif</string>
	<key>_51</key>
	<string>_51.glif</string>
	<key>_52</key>
	<string>_52.glif</string>
	<key>_53</key>
	<string>_53.glif</string>
	<key>_6</key>
	<string>_6.glif</string>
	<key>_69</key>
	<string>_69.glif</string>
	<key>_7</key>
	<string>_7.glif</string>
	<key>_70</key>
	<string>_70.glif</string>
	<key>_71</key>
	<string>_71.glif</string>
	<key>_72</key>
	<string>_72.glif</string>
	<key>_73</key>
	<string>_73.glif</string>
	<key>_74</key>
	<string>_74.glif</string>
	<key>_75</key>
	<string>_75.glif</string>
	<key>_76</key>
	<string>_76.glif</string>
	<key>_77</key>
	<string>_77.glif</string>
	<key>_78</key>
	<string>_78.glif</string>
	<key>_79</key>
	<string>_79.glif</string>
	<key>_80</key>
	<string>_80.glif</string>
	<key>_81</key>
	<string>_81.glif</string>
	<key>_82</key>
	<string>_82.glif</string>
	<key>_83</key>
	<string>_83.glif</string>
	<key>_84</key>
	<string>_84.glif</string>
	<key>_85</key>
	<string>_85.glif</string>
	<key>_86</key>
	<string>_86.glif</string>
	<key>_87</key>
	<string>_87.glif</string>
	<key>_88</key>
	<string>_88.glif</string>
	<key>_89</key>
	<string>_89.glif</string>
	<key>_9</key>
	<string>_9.glif</string>
	<key>_90</key>
	<string>_90.glif</string>
	<key>_91</key>
	<string>_91.glif</string>
	<key>_92</key>
	<string>_92.glif</string>
	<key>_93</key>
	<string>_93.glif</string>
	<key>_94</key>
	<string>_94.glif</string>
	<key>_95</key>
	<string>_95.glif</string>
	<key>_96</key>
	<string>_96.glif</string>
	<key>_97</key>
	<string>_97.glif</string>
	<key>_98</key>
	<string>_98.glif</string>
	<key>_99</key>
	<string>_99.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a_alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
