<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.back.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/vern/GitHub/AercomFont/Aercom.ttf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>back</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>N</string>
		<string>O</string>
		<string>R</string>
		<string>V</string>
		<string>E</string>
		<string>G</string>
		<string>Q</string>
		<string>n</string>
		<string>o</string>
		<string>S</string>
		<string>u</string>
		<string>m</string>
		<string>i</string>
		<string>M</string>
		<string>C</string>
		<string>U</string>
		<string>L</string>
		<string>B</string>
		<string>a</string>
		<string>e</string>
		<string>t</string>
		<string>h</string>
		<string>acute</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>grave</string>
		<string>H</string>
		<string>A</string>
		<string>p</string>
		<string>b</string>
		<string>T</string>
		<string>P</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>I</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>F</string>
		<string>W</string>
		<string>comma</string>
		<string>J</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>period</string>
		<string>s</string>
		<string>c</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>q</string>
		<string>r</string>
		<string>k</string>
		<string>j</string>
		<string>g</string>
		<string>f</string>
		<string>d</string>
		<string>l</string>
		<string>K</string>
		<string>eacute</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>slash</string>
		<string>backslash</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>space</string>
		<string>oslash</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>oe</string>
		<string>OE</string>
		<string>question</string>
		<string>AE</string>
		<string>dieresis</string>
		<string>udieresis</string>
		<string>ampersand</string>
		<string>hyphen</string>
		<string>exclam</string>
		<string>dotlessi</string>
		<string>CR</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>hungarumlaut</string>
		<string>breve</string>
		<string>ring</string>
		<string>dotaccent</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>adieresis</string>
		<string>acircumflex</string>
		<string>aring</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>itilde</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>nacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>rcaron</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Ccircumflex</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>tilde</string>
		<string>Otilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>atilde</string>
		<string>Atilde</string>
		<string>Itilde</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Edieresis</string>
		<string>Ecircumflex</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>ccircumflex</string>
		<string>Odieresis</string>
		<string>ccedilla</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>uni020B</string>
		<string>uni0311</string>
		<string>uni0326</string>
		<string>ogonek</string>
		<string>Rcommaaccent</string>
		<string>dotaccentcmb</string>
		<string>dotlessj</string>
		<string>commaaccent</string>
		<string>Oslash</string>
		<string>uni030F</string>
		<string>trademark</string>
		<string>rcommaaccent</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>uogonek</string>
		<string>ij</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>Uogonek</string>
		<string>Eth</string>
		<string>DZ</string>
		<string>Dz</string>
		<string>macron</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Jcircumflex</string>
		<string>percent</string>
		<string>ae</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>jcircumflex</string>
		<string>Ldotaccent</string>
		<string>Lslash</string>
		<string>hbar</string>
		<string>dollar</string>
		<string>cent</string>
		<string>thorn</string>
		<string>eth</string>
		<string>germandbls</string>
		<string>paragraph</string>
		<string>mu</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>equal</string>
		<string>yen</string>
		<string>plus</string>
		<string>multiply</string>
		<string>questiondown</string>
		<string>Thorn</string>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Ldotaccent</string>
		<string>Lslash</string>
		<string>OE</string>
		<string>DZ</string>
		<string>mu</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>iogonek</string>
		<string>uni020B</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>oe</string>
		<string>dotlessj</string>
		<string>Dz</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>dotaccentcmb</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0326</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>exclam</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>plus</string>
		<string>equal</string>
		<string>multiply</string>
		<string>dollar</string>
		<string>cent</string>
		<string>yen</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>registered</string>
		<string>paragraph</string>
		<string>trademark</string>
		<string>space</string>
		<string>commaaccent</string>
		<string>.notdef</string>
		<string>CR</string>
	</array>
</dict>
</plist>
